$BACKGROUND: #78BECD; 

.stats {
  padding: 80px 0;
  background-color: $BACKGROUND;
}
.stats__container {
  max-width: 920px;
}
.stats__title {
  margin: 0 0 50px 0;
}
.stats__row {
  display: flex;
  margin: 0 -50px;
  flex-wrap: wrap;
  
  @media (max-width: 860px) {
    margin: 0 -30px;
  }
}
.stats__column {
  flex: 0 1 25%;
  padding: 0 50px;

  @media (max-width: 860px) {
    padding: 10px 30px;
  }
  @media (max-width: 730px) {
    flex: 0 1 50%;
  }
}