.item-stats {
  text-align: center;
}
.item-stats__title {
  font-size: 64px;
  font-weight: 700;
  line-height: 75px;
  color: #000000;
  margin: 0 0 15px 0;
}
.item-stats__subtitle {
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  color: #fefefe;
}